<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Zach Benton</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicons/manifest.json">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet">
    <link href="css/override.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">ZB</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#CONTACT">Contact Info</a></li>
                    <li><a href="#PORTFOLIO">Portfolio</a></li>
                    <li><a href="#SKILLS">Skills</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#CONTACT">Contact Info</a></li>
                    <li><a href="#PORTFOLIO">Portfolio</a></li>
                    <li><a href="#SKILLS">Skills</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    <div id="index-banner" class="parallax-container valign-wrapper headshot_contain">
        <div class="section no-pad-bot hide-on-small-only">
            <div class="container right title_wrapper">
                <div class="center background_transparent">
                    <h1 class="header center black-text name_title ">Zach Benton</h1>
                    <div class="row center no-margin">
                        <h5 class="header col s12 black-text no-margin">Solving problems one line at a time.
                        </h5>
                    </div>
                    <div class="row center">
                        <p class="header col s12 black-text flow-text margin_top">
                            Hi, I’m Zach!! I’m a dependable, logical, and efficient full-stack developer. I first decided to learn to code because I
                            wanted a career that would challenge me and provide an outlet for continued growth. Now I get
                            to tackle new problems everyday, giving my enthusiastic personality room to succeed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--This section is centered for mobile-->
        <div class="section no-pad-bot hide-on-med-and-up">
            <div class="container center title_wrapper">
                <div class="center background_transparent">
                    <h1 class="header center black-text name_title ">Zach Benton</h1>
                    <div class="row center no-margin">
                        <h5 class="header col s12 black-text no-margin" style="font-weight: bold">Solving problems one line at a time.
                        </h5>
                    </div>
                    <div class="row center">
                        <p class="header col s12 black-text flow-text margin_top" style="font-weight: bold">
                            Logical and efficient web developer, with a strong foundation in Back-End Engineering. My innate curiosity and desire to
                            solve complex problems led me to transition from a career in communications hardware to software
                            engineering. I wanted a career I could be excited about; one that would challenge me, and give
                            me an outlet for continued growth and learning.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax headshot"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <div id="CONTACT" class="container">
        <div class="center">
            <h1>Contact me</h1>
        </div>
        <div class="section">
            <div class="row">
                <div class="fade-btn col s3 center" id="box-1">
                    <p class="no-margin_bot">
                        <i class="medium material-icons black-text">contact_phone</i>
                        <p class="no-margin hide-on-small-and-down">Zach Benton</p>
                        <p class="no-margin"><a href="tel:1-615-200-5788"> 615.200.5788</a></p>
                    </p>
                </div>
                <div class="fade-btn col s3 center" id="box-2">
                    <p class="no-margin_bot">
                        <a href="mailto:czachbenton@gmail.com?Subject=Hi%20Zach,%20from%20your%20portfolio" target="_top">
                        <i class="medium material-icons black-text hoverable">email</i>
                    </a>
                        <p class="no-margin hide-on-small-and-down">Send me an e-mail</p>
                        <p class="no-margin hide-on-med-and-up">e-mail</p>
                    </p>
                </div>
                <div class="fade-btn col s3 center" id="box-3">
                    <p class="no-margin_bot">
                        <a href="https://drive.google.com/open?id=0B3SZ274vAASILTJ5WEpMTzJVelU"><i class="medium material-icons black-text hoverable">description</i>
                    </a>
                        <p class="no-margin hide-on-small-and-down">Take a look at my resume</p>
                        <p class="no-margin hide-on-med-and-up">resume</p>
                    </p>
                </div>
                <div class="fade-btn col s3 center" id="box-4">
                    <p class="no-margin_bot">
                        <a href="https://www.linkedin.com/in/zach-benton">
                        <i class="medium material-icons black-text hoverable">perm_device_information</i>
                    </a>
                        <p class="no-margin hide-on-small-and-down">Follow me on LinkedIn</p>
                        <p class="no-margin hide-on-med-and-up">LinkedIn</p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="PORTFOLIO" class="parallax-container valign-wrapper parallax-size-reduce">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light portfolio_title">Portfolio</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/mac4.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/mybinge-landing.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">MyBinge-TV<i
                                class="material-icons right">more_vert</i></span>
                            <div class="card_links_wrapper row no-margin">
                                <p class="card_link col s10">
                                    <a href="https://mybinge-tv.herokuapp.com">See More!</a>
                                </p>
                                <p class="github col s2">
                                    <a href="https://github.com/Czbenton/MyBingeTV">
                                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                </a>
                                </p>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Info:<i
                                class="material-icons right">close</i></span>
                            <p>MyBingeTV is a web app designed to allow a user to create a “BingeList” of TV shows they want
                                to watch, while also providing detail about the shows in an easy to digest format. It uses
                                Spring Boot and Java to consume a RESTful API and a Postgres database to save the users and
                                their BingeLists.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/hangman-landing.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Hangman<i
                                class="material-icons right">more_vert</i></span>
                            <div class="card_links_wrapper row no-margin">
                                <p class="card_link col s10">
                                    <a href="hangman.html">See More!</a>
                                </p>
                                <p class="github col s2">
                                    <a href="https://github.com/Czbenton/HangmanGame">
                                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                </a>
                                </p>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Info:<i
                                class="material-icons right">close</i></span>
                            <p>This is a simple console app to play Hangman with homemade graphics and fun sounds.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/gametracker.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">GameTracker<i
                                class="material-icons right">more_vert</i></span>
                            <div class="card_links_wrapper row no-margin">
                                <p class="card_link col s10">
                                    <a href="gametracker.html">See More!</a>
                                </p>
                                <p class="github col s2">
                                    <a href="https://github.com/Czbenton/GameTrackerSpring">
                                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                </a>
                                </p>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Info:<i
                                class="material-icons right">close</i></span>
                            <p>GameTracker is the first SpringBoot project I created. It includes a simple Postgres database
                                for storing users and tracked games.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/crud-spark.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">CRUD-Spark<i
                                class="material-icons right">more_vert</i></span>
                            <div class="card_links_wrapper row no-margin">
                                <p class="card_link col s10">
                                    <a href="crud-spark.html">See More!</a>
                                </p>
                                <p class="github col s2">
                                    <a href="https://github.com/Czbenton/CRUD.html">
                                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                </a>
                                </p>
                            </div>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Info:<i
                                class="material-icons right">close</i></span>
                            <p>This simple CRUD app is a superhero tracker made using Java and the Spark framework. It is the
                                first web app I created.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/irongram.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">IronGram<i
                                class="material-icons right">more_vert</i></span>
                            <div class="card_links_wrapper row no-margin">
                                <p class="card_link col s10">
                                    <a href="irongram.html">See More!</a>
                                </p>
                                <p class="github col s2">
                                    <a href="https://github.com/Czbenton/IronGram/tree/develop">
                                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                </a>
                                </p>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Info:<i
                                class="material-icons right">close</i></span>
                            <p>IronGram was a fun project influenced by SnapChat. The idea was to use Java and Spring to post
                                an image to a user, then have the image auto-delete after a set time limit once that user
                                has logged in.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/desktop-browser.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">JavaFX Desktop App<i
                                class="material-icons right">more_vert</i></span>
                            <div class="card_links_wrapper row no-margin">
                                <p class="card_link col s10">
                                    <a href="javafx.html">See More!</a>
                                </p>
                                <p class="github col s2">
                                    <a href="https://github.com/Czbenton/JavaFX">
                                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                </a>
                                </p>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Info:<i
                                class="material-icons right">close</i></span>
                            <p>This project was my intro into JavaFX. It is a basic desktop app that emulates a web browser.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SKILLS" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light portfolio_title">Skills</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer white">
        <div class="container">
            <div class="row center">
                <div class="col s12 m4">
                    <p class="no-margin">Java</p>
                    <p class="no-margin">JavaScript</p>
                    <p class="no-margin">Node.js</p>
                    <p class="no-margin">HTML</p>
                    <p class="no-margin">CSS</p>
                </div>
                <div class="col s12 m4">
                    <p class="no-margin">Git</p>
                    <p class="no-margin">Spring</p>
                    <p class="no-margin">Mustache</p>
                    <p class="no-margin">JSON API</p>
                    <p class="no-margin">Postgresql</p>
                </div>
                <div class="col s12 m4">
                    <p class="no-margin">Enthusiastic Leader</p>
                    <p class="no-margin">Dependable Human</p>
                    <p class="no-margin">Collaborator</p>
                    <p class="no-margin">Problem Solver</p>
                    <p class="no-margin">Ping Pong</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright white">
            <div class="container">
                <div class="center black-text">Zach Benton - <a href="mailto:czachbenton@gmail.com?Subject=Hi%20Zach,%20from%20your%20portfolio" target="_top">
                czachbenton@gmail.com
            </a> -<a href="tel:1-615-200-5788"> 615.200.5788</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>