html{
    font-family: 'Dosis', sans-serif;
}

.headshot_contain {
    /*min-height: 660px;*/
    min-height: 50rem;
}

.headshot {
    display: block;
    right: 60%;
}

.name_title {
    font-size: 8.5rem;
    margin: 0;
    padding-top: 3rem;
}

.text_add_shadow {
    text-shadow: 1px 1px white;
}

.title_wrapper {
    max-width: 780px;
}

.portfolio_title {
    font-size: 5rem;
    text-shadow: 1px 1px black;
    font-variant: small-caps;
}

.parallax-size-reduce {
    min-height: 300px;
}

.no-margin {
    margin: 0;
}

.no-margin_bot {
    margin-bottom: 0;
}

.no-margin_top {
    margin-top: 0;
}

.brand-logo {
    font-family: 'Droid Serif', serif;
}

.github {

}

.margin_top {
    margin-top: 5rem;
}

.fa{
    color: #383838;
}

.background_transparent{
    background-color: rgba(255,255,255,0.5);
}

#sidenav-overlay {
    z-index: 0;
}